hr {

    background-color: antiquewhite;
    border-style: dotted;
    border-color: rgb(248, 247, 246);
    border-width: 20px;
    height: 30px;

}

body{

    background-color: antiquewhite;
    border-width: 49%;
    
    }
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    height: 0%;
    color: #5f96e4;
    
}
image{

border-radius: 20%;
}
.heading {
    text-shadow: 200px;
    color: #5f96e4;
    
}
.heading:hover{

    color: blue;
}
.front{
    height: 600px;
    padding: 100px;  
    background-color: #dce7f8;
    text-align: center;

}
.middle{

    background-color:#dce7f8;
    height: 500px;
    padding: 100px;  

    
}

.back{
    background-color: #dce7f8;
    padding: 100px;  
    height: 500px;

}
.hobbies{

    text-align: center;
}
.front element{
    margin: 0 50%;
}
.c2{
    position: fixed;
    right: 200px;
}


.top-cloud{
    position: fixed;
    left: 200px;
}